@import 'tailwindcss';

@theme {
  /* 공통 색상 */
  --color-border-gray: #e3e3e3;

  /* button 색상 */
  --color-button-primary: #ffe277;
  --color-button-disabled: #e7e7e7;

  /* Gray Colors */
  --color-gray-100: #fafafa;
  --color-gray-200: #fafafa;
  --color-gray-300: #e5e5e5;
  --color-gray-400: #cecfcd;
  --color-gray-500: #c8c8c8;
  --color-gray-600: #aaaaaa;
  --color-gray-700: #6e726e;
  --color-gray-800: #3b3d3b;

  /* Primary Colors */
  --color-primary-10: rgba(141, 92, 246, 0.1); /* opacity 10 */
  --color-primary-20: rgba(141, 92, 246, 0.2); /* opacity 20 */
  --color-primary-50: rgba(141, 92, 246, 0.5); /* opacity 50 */
  --color-primary-70: rgba(141, 92, 246, 0.7); /* opacity 70 */
  --color-primary-100: #8d5cf6;

  /*category chip bg color*/
  --color-category-green: rgba(0, 184, 132, 0.2);
  --color-category-gray: rgba(120, 119, 119, 0.2);
  --color-category-yellow: rgba(255, 203, 17, 0.2);
  --color-category-blue: rgba(70, 182, 254, 0.2);
  --color-category-pink: rgba(255, 139, 195, 0.2);
  --color-category-red: rgba(255, 30, 0, 0.2);
  --color-category-orange: rgba(255, 132, 0, 0.2);
  --color-category-brown: rgba(151, 75, 0, 0.2);

  /* Font Sizes */
  --font-heading-1: 32px;
  --font-heading-2: 28px;
  --font-heading-3: 22px;
  --font-heading-4: 18px;
  --font-heading-5: 16px;
  --font-heading-6: 14px;
  --font-body-1: 16px;
  --font-body-2: 14px;
  --font-body-3: 12px;

  /* Font Family */
  --font-primary: 'Inter', sans-serif;

  /* mindmap 관련 색상 */
  --color-root-icon: #ffea9f;
  --color-question-input-hover: rgba(0, 0, 0, 0.02);
  --color-question-input-active: rgba(0, 0, 0, 0.05);

  /* 새로운 기획 색상 변수 */
  --color-gray-scale-100: #ffffff;
  --color-gray-scale-200: #f0f0f5;
  --color-gray-scale-300: #e1e1e8;
  --color-gray-scale-400: #cdced6;
  --color-gray-scale-500: #a9abb8;
  --color-gray-scale-600: #858899;
  --color-gray-scale-700: #525463;
  --color-gray-scale-800: #3e404c;
  --color-gray-scale-900: #2b2d36;

  --color-blue: #7098ff;
  --color-neon-green: #d3ee17;
  --color-blue-2: #e8efff;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url(/src/assets/fonts/woff2/Pretendard-Black.woff2) format('woff2'),
    url(/src/assets/fonts/woff/Pretendard-Black.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url(/src/assets/fonts/woff2/Pretendard-ExtraBold.woff2) format('woff2'),
    url(/src/assets/fonts/woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url(/src/assets/fonts/woff2/Pretendard-Bold.woff2) format('woff2'),
    url(/src/assets/fonts/woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url(/src/assets/fonts/woff2/Pretendard-SemiBold.woff2) format('woff2'),
    url(/src/assets/fonts/woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url(/src/assets/fonts/woff2/Pretendard-Medium.woff2) format('woff2'),
    url(/src/assets/fonts/woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url(/src/assets/fonts/woff2/Pretendard-Regular.woff2) format('woff2'),
    url(/src/assets/fonts/woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url(/src/assets/fonts/woff2/Pretendard-Light.woff2) format('woff2'),
    url(/src/assets/fonts/woff/Pretendard-Light.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url(/src/assets/fonts/woff2/Pretendard-ExtraLight.woff2) format('woff2'),
    url(/src/assets/fonts/woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url(/src/assets/fonts/woff2/Pretendard-Thin.woff2) format('woff2'),
    url(/src/assets/fonts/woff/Pretendard-Thin.woff) format('woff');
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body {
  font-family:
    'Pretendard',
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
  color: black;
  font-weight: 400;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bubble {
  position: absolute;
  transition:
    transform 0.6s ease-out,
    opacity 0.6s ease-out;
}

.scale-in {
  animation: scaleIn 0.6s ease-out forwards;
}

.float {
  animation: float 3s ease-in-out infinite;
}
