@import 'tailwindcss';

@theme {
  /* 공통 색상 */
  --color-border-gray: #e3e3e3;

  /* button 색상 */
  --color-button-primary: #ffe277;
  --color-button-disabled: #e7e7e7;

  /* mindmap 관련 색상 */
  --color-root-icon: #ffea9f;
  --color-question-input-hover: rgba(0, 0, 0, 0.02);
  --color-question-input-active: rgba(0, 0, 0, 0.05);
}
